* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Gabarito", sans-serif;
}
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #000;
}
.navbar__s1 {
  font-size: 24px;
  color: #a435f0;
}
.navbar__s2 {
  width: 60%;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid #000;
  border-radius: 30px;
}
.navbar__s2 input {
  width: 60%;
  border: none;
  font-size: 18px;
}
.navbar__s2 input:focus {
  outline: none;
}
.navbar__s3 {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar__s3 a {
  text-decoration: none;
}
.categories {
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
  border: 1px solid #000;
}
.categories a {
  background-color: #a435f0;
  padding: 10px 20px;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
}
.spotlight img {
  width: 100%;
}
.recomended {
  padding: 10px;
}
.recomended h2 {
  font-size: 24px;
  margin-bottom: 5px;
}
.recomended p {
  margin-bottom: 10px;
}
.recomended__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.course-card {
  width: 300px;
}
.course-card img {
  width: 100%;
  margin-bottom: 10px;
}
.course-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
/* Steart topics section */
.topics {
  padding: 20px;
}
.topics__title {
  margin-bottom: 20px;
}
.topics__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.topics__container p {
  border: 1px solid gray;
  flex-grow: 1;
  flex-basis: 25%;
  padding: 20px;
}
/* End Topics Section */
/* Start Poplar Section */
.popular {
  padding: 20px;
}
.popular h1 {
  margin-bottom: 10px;
}
.popular p {
  margin-bottom: 20px;
}
.popular__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* End Popular Section */
/* Start Footer Section */
.footer {
  padding: 30px;
  background-color: #000;
  color: #fff;
}
.footer__one {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
.footer__one__s1 p,
.footer__one__s2 p {
  margin-bottom: 10px;
}
.footer__two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__two p {
  display: inline-block;
}
/* End Footer Section */
